/* ----RESET---- */
@import url("reset.css");


body{
font-family: 'Open Sans', sans-serif;
}
/* ----RESET---- */




/* ----COMMONS---- */

.big-container{
    max-width:1250px ;
    margin: auto;
}

.small-container{
    max-width: 1000px;
    margin: auto;
}



ul{
  list-style: none;  
}

a{
 text-decoration: none;
 color: inherit;
}
/* ----COMMONS---- */





/* ----HEADER---- */
header{
    /* position: fixed;
    right: 0;
    left: 0; */
    background-color: #ffffff;
    border-bottom: 1px solid black;
    height: 80px;
    color: #474747;
}

.logo-header{
    width: 100%;
}

.row-header{
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
}

.list-header-left, .list-header-right{
    display: flex;
    align-items: center;
}


.list-header-left li{
    padding-right: 40px;
}

.list-header-right li {
    padding-left: 40px;
}

.btn-header{
    color: white;
    border: none;
    background-color:#0061ff ;
    padding: 10px 15px;
}
/* ----HEADER---- */




/* ----MAIN---- */

.jumbo{
    background-color: #b4d0e7;
}


.titolo-jumbo{
    /* text-align: center; */
    font-weight: bolder;
    font-size: 50px;
    padding-top:100px;
}

.row-jumbo{
    padding-top: 50px;
    display: flex;
}

.col-left-jumbo{
    width: 35%;
    /* background-color: yellow; */
}

.col-right-jumbo {
    width: 65%;
    height: 400px;
    /* background-color: green; */
    
}

.jumbo-button{
    color: white;
    border: none;
    background-color: #0061ff;
    padding: 10px 15px;
}

.col-left-jumbo button{
    margin: 35px 0;
    
}

#icon-jumbo{
    margin-top:80px ;
    margin-bottom: 20px;
    font-size:50px ;
}

.col-right-jumbo img{
    width: 100%;
}


.title-check{
    padding-top: 150px;
}


.title-check h2{
    font-size: 30px;
    font-weight: bold;
}